@model templateProject.Model.MPlanningModel
@using templateProject.Model
@{
    Layout = null;
}

@if (Model.PlanID ==-1)
{
    <div class="modal-header">
        <h5 class="modal-title">User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center" style="color: #ccc; ">
        Data tidak ditemukan
        <br /> <i class="fa fas fa-sad-tear" style="font-size:50px"></i>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Batal</button>
    </div>
}
else
{
    <script>
        function OnSuccess(e) {
            toggleLoading();
            if (e.Error.length > 0) {
                AjaxForm_showNotification(e.Error);
            } else {
                dataTable.draw();
                $(ModalManage).modal('hide');
            }
        }
        function OnFailure(e) {
            toggleLoading();
            showNotification('danger', 'Error', e.statusText)
        }
        function OnBegin() {
            toggleLoading();
        }
        $(document).ready(function () {
            $("#formManage").submit(function (event) {
                var conf = confirm("Anda yakin?");
                if (!conf) {
                    return false;
                }
            });
        })
    </script>
    using (Ajax.BeginForm("Manage", "Planning"
    , new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        OnBegin = "OnBegin"
    }
    , new { @class = "form-horizontal", @id = "formManage" }
    ))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(f => f.PlanID)
        <div class="modal-header">
            <h5 class="modal-title">
                @{
                    if (Model.PlanID == 0)
                    {
                        <text>Tambah User</text>
                    }
                    else
                    {
                        <text>Ubah User</text>
                    }
                }
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.TextBoxFor(f => f.BLDate, new { @class = "form-control" })

                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Batal</button>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    }
}

